*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  }

  :root {
    --main-color:#ff0000 ;
   --background-color: #f5f5f5;
   --text-color: black;
    --third-color: #e90000;
    }

    .dark-theme {
      --main-color:white ;
     --background-color: black;
     --text-color: black;
      --third-color: #e90000;
    }

  body {
    background-color: var(--background-color);
    
  }

  a {
    color: var(--main-color);
    text-decoration: none;
  }
  
  h1 {
    font-weight: 800;
  
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-weight: 500;
    font-size: 0.87rem;
  }
  
  .text-muted {
    color: black;
  }

  img {
    display: block;
    width: 100%;

  }

  small {
    font-size: 0.75rem;
  }


  .profile-photo {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  

  /*home css*/
.home {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background: var(--sec-bg-color);
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.6rem;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -9.6rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 1.5s;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
 
}

.logo::before {
  animation: homeCursorText 6s linear infinite;
  animation-delay: 1.5s;
}

aside {
  left: -100%;
  height: 100%;
  background-color: var(--bg-color);
  animation: showMenu 400ms ease fowards;
}

aside .top {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .close {
 display: none;
}

aside .sidebar {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  top: 4rem;
}

aside .sidebar a {
  display: flex;
  color: var(--sec-bg-color);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a i {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a:active {
  background: var(--sec-bg-color);
  color: var(--bg-color);
  margin-left: 0;
}

aside .sidebar a:active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--main-color);
}

aside .sidebar a:active i {
  color: var(--bg-color);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--main-color)
}

aside .sidebar a:hover i {
  margin-left: 1rem;
}

main {
  margin-top: 1.4rem;
}

main .heading {
  display: flex;
  justify-content: center;
}

main .date {
  display: inline-block;
  background: var(--bg-color);
  border-radius: .8rem;
  border: 2px solid black;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--sec-bg-color);
} 

main .main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .graph {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;

}

main .main-content > div {
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 1rem;
  box-shadow: var(--main-color);
  transition: all 300ms ease;
}

main .main-content > div:hover {
  box-shadow: none;
}

main .main-content > div span {
  background: var(--main-color);
  padding: 0.5rem;
  border-radius: 50%;
  color: black;
  font-size: 2rem;
}

main .main-content > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-content h3 {
  margin: 1rem 0 0.6rem;
}

main .main-content .progress{
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .main-content svg {
  width: 7rem;height: 7rem;
}

main .main-content svg circle {
  fill: none;
  stroke: var(--main-color);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .main-content .sales svg circle {
  stroke-dasharray: 200;
  stroke-dashoffset: -30;
}

.right {
  background: var(--bg-color);
  
}

.toggle-btn {
  background: #4864FF;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-btn img {
  width: 25px;
  margin-left: 10px;
}




/*login css*/

.navbar {
  position: absolute;
  right: 5%;
}

.navbar a{
  font-size: 1.6rem;
  font-weight: 500; 
  margin-left: 3.5rem;
  transition: 1s;
}

.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
}

.navbar .btnlogin-popup {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  position: relative;
  color: transparent;
  -webkit-text-stroke: .5px var(--main-color);
  font-size: 1.5rem;
  background: transparent;
  z-index: 1;
  transition: .5s;
  overflow: hidden;
}

.navbar .btnlogin-popup:hover {
  color: var(--text-color);
}

.navbar .btnlogin-popup::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.navbar .btnlogin-popup:hover::before {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper h2 {
  color: var(--text-color);
  
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
 transition: transform .18s ease;
 transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
} 

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: none;
  transform: translateX(0);
} 

.form-box h2 {
  font-size: 1.2rem;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--main-color);
  margin: 30px 0;
}

.wrapper .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.wrapper .input-box input:focus~label, 
.wrapper .input-box input:valid~label {
  top: -5px;
}

.wrapper .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.wrapper .input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1rem;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9rem;
  color: var(--text-color);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: var(--main-color);
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--main-color);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  height: 45px;
  background: var(--main-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
}

.login-register {
  font-size: .9rem;
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .home {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .header {
    padding: 1rem 5%;
  }

  aside {
    position: fixed;
    left: 0;
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem;
    height: 100vh;
  }

  aside .sidebar h3{
    display: inline;
  }

  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }

  main .main-content {
    grid-template-columns: 1fr;
  }

  main .graph {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .home {
    grid-template-columns: 12rem auto 18rem;
  }

  .header {
    padding: 1.5rem 7%;
  }

  main .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .graph {
    grid-template-columns: 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .home {
    grid-template-columns: 14rem auto 20rem;
  }

  .header {
    padding: 2rem 8%;
  }

  main .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  main .graph {
    grid-template-columns: 1fr;
  }
}

/* Laptop screens (1024px to 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .home {
    grid-template-columns: 14rem auto 22rem;
  }

  .header {
    padding: 2rem 8%;
  }

  main .main-content {
    grid-template-columns: repeat(3, 1fr);
  }

  main .graph {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Specific media query for 1366px width */
@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .home {
    grid-template-columns: 14rem auto 22rem;
  }

  .header {
    padding: 2rem 8%;
  }

  main .main-content {
    grid-template-columns: repeat(3, 1fr);
  }

  main .graph {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra large devices (large desktops, 1441px and up) */
@media (min-width: 1441px) {
  .home {
    grid-template-columns: 14rem auto 23rem;
  }

  .header {
    padding: 2rem 9%;
  }

  main .main-content {
    grid-template-columns: repeat(3, 1fr);
  }

  main .graph {
    grid-template-columns: repeat(2, 1fr);
  }
}



/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
  0%,10%,100% {
      background-position: -9.6rem 0;
  }
  65%,85% {
      background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,10%,100% {
      width: 0;
  }
  65%,78%,85% {
      width: 100%;
      opacity: 1;
  }

  75%,81% {
      opacity: 0;
  }
}

@keyframes showMenu {
  to {
    left: 0;
  }
}


